@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
  

<div class="row">
    <div class="col-md-12">
        @if(User.Identity.IsAuthenticated)
        {
            <h2>Application users claims</h2>
            <ul>
                @foreach (var claim in User.Claims)
                {
                    <li>@(claim.Type + " -> " + claim.Value)</li>
                }
            </ul>
        }
    </div>
    
    </div>
</div>
